---
title: 'Signature Car Service LAX | Los Angeles, CA'
description: 'Executive Car Services in Los Angeles, CA. We provide luxury transportation to and from LAX Airport. Book your ride today!'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/home-base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <a href="/" class="cs-logo" aria-label="back to home" tabindex="2">
                    <img src="/assets/images/logo_white.png" alt="" width="250" aria-hidden="true" decoding="async">
                </a>
            </div>
            <div style="padding-top: 2rem;">
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" style="display: flex; list-style: none; padding: 0;">
                        {% set navPages = collections.all | eleventyNavigation %}

                        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                        {% for entry in navPages %}

                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}

                        {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                        {% set hideClasses = [] %}
                        {% if entry.hideOnMobile %}
                        {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                        {% endif %}
                        {% if entry.hideOnDesktop %}
                        {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                        {% endif %}

                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li class="cs-li {% if hasChild %} cs-dropdown {% endif %} {{ hideClasses | join(" ") }}" style="padding: 0 1rem;">

                        {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                        {% if hasChild %}

                        {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                        {% set activeClass = "" %}
                        {% for child in entry.children %}
                        {% if child.url == page.url %}
                        {% set activeClass = "cs-active" %}
                        {% endif %}
                        {% endfor %}

                        {# Render the <button> with the active class, dropdown icon and child links #}
                            <button
                                    class="cs-li-link cs-dropdown-button {{ activeClass }}"
                                    aria-expanded="false"
                                    aria-controls="dropdown-{{ entry.key }}"
                                    aria-label="dropdown-{{ entry.key }}"
                            >
                                {{ entry.key }}
                                <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                            </button>

                            {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                            <ul class="cs-drop-ul" id="dropdown-{{ entry.key }}">
                                {% for child in entry.children %}
                                <li class="cs-drop-li">
                                    <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %} style="color: white; text-decoration: none;">
                                    {{ entry.key }}
                                </a>
                                {% endif %}
                                </li>
                                {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Signature Car Service LAX</span>
                <h1 class="cs-title">Your premier transfer service</h1>
                <p class="cs-text">
                    Enjoy safety, reliability and comfort of a professional driver service. Arrive relaxed and on-time. Pay a fixed, predictable rate.
                </p>
                <a href="/about" class="cs-button-solid">Book Now</a>
                <a href="/contact" class="cs-button-transparent">
                    EXPLORE MORE
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="cadillac escalade" width="2500" height="1667" loading="eager">
        </picture>
    </section>

<br />
<br />
<br />
<section id="services-1724">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Business, leisure or a special occasion?</span>
                <h2 class="cs-title">Our Services</h2>
            </div>
<!--            <p class="cs-text">-->
<!--                Workouts shift your body from periods of aerobic activity to periods of the best training tools for developing a strong anaerobic activity. When your body is in and “aerobic mode,” your body is using oxygen.-->
<!--            </p>-->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Corporate Travel</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://cdn.prod.website-files.com/65c339849baa8f6e5e4d5aba/65c6dadd23f9a2118f54df94_man-walking-with-bag.jpg">
                    <source media="(min-width: 601px)"
                            srcset="https://cdn.prod.website-files.com/65c339849baa8f6e5e4d5aba/65c6dadd23f9a2118f54df94_man-walking-with-bag.jpg">
                    <img decoding="async"
                         src="https://cdn.prod.website-files.com/65c339849baa8f6e5e4d5aba/65c6dadd23f9a2118f54df94_man-walking-with-bag.jpg"
                         alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Airport Transfers</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://www.ruby-services.com/en/images/5-good-reasons-to-use-a-limo-service-for-your-airport-transfers_pd40106w2440h1500rcrop_559.jpg">
                    <source media="(min-width: 601px)"
                            srcset="https://www.ruby-services.com/en/images/5-good-reasons-to-use-a-limo-service-for-your-airport-transfers_pd40106w2440h1500rcrop_559.jpg">
                    <img decoding="async"
                         src="https://www.ruby-services.com/en/images/5-good-reasons-to-use-a-limo-service-for-your-airport-transfers_pd40106w2440h1500rcrop_559.jpg"
                         alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Special Events</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://cccarservice.com/wp-content/uploads/2024/04/image_2024_04_24T05_00_03_965Z.png">
                    <source media="(min-width: 601px)"
                            srcset="https://cccarservice.com/wp-content/uploads/2024/04/image_2024_04_24T05_00_03_965Z.png">
                    <img decoding="async"
                         src="https://cccarservice.com/wp-content/uploads/2024/04/image_2024_04_24T05_00_03_965Z.png"
                         alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">04</span>
                    <h3 class="cs-h3">Chauffeur</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://www.shutterstock.com/image-photo/riga-latvia-21-july-2021-600nw-2013279440.jpg">
                    <source media="(min-width: 601px)"
                            srcset="https://www.shutterstock.com/image-photo/riga-latvia-21-july-2021-600nw-2013279440.jpg">
                    <img decoding="async"
                         src="https://www.shutterstock.com/image-photo/riga-latvia-21-july-2021-600nw-2013279440.jpg"
                         alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">05</span>
                    <h3 class="cs-h3">Much more...</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://hollywoodlimousine.com/wp-content/uploads/2023/02/executive-interior-1024x683.jpg">
                    <source media="(min-width: 601px)"
                            srcset="https://hollywoodlimousine.com/wp-content/uploads/2023/02/executive-interior-1024x683.jpg">
                    <img decoding="async"
                         src="https://hollywoodlimousine.com/wp-content/uploads/2023/02/executive-interior-1024x683.jpg"
                         alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>


<br />
<br />
<div style="padding-left: 5rem;">
    <a href="#steps-1893">
        <img src="https://cdn4.iconfinder.com/data/icons/thin-circle-ui/100/arrow-down-circle-512.png" width="60" />
    </a>
</div>
<br />
<br />

<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1893">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/chauffeur_service.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/chauffeur_service.webp">
                <img loading="lazy" decoding="async" src="/assets/images/chauffeur_service.webp" alt="dermatologist">
            </picture>
        </div>
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Why Choose Signature Car Service?</span>
                <h2 class="cs-title">It's simple</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Arrive at your chosen airport</h3>
                        <p class="cs-item-text">
                            Simply bring your luggage and arrive at your chosen airport. We will take care of the rest.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Find your driver at the front</h3>
                        <p class="cs-item-text">
                            We also track your flight and adjust your pickup time if needed. Your driver will be waiting for you at the front. If needed, we also offer a number to call or text for any issues.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Meet or walk with your driver curbside</h3>
                        <p class="cs-item-text">
                            Meet your driver curbside in front of the baggage claim area and enjoy your ride.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<br />
<br />
<div style="padding-left: 5rem;">
    <a href="#fleet">
        <img src="https://cdn4.iconfinder.com/data/icons/thin-circle-ui/100/arrow-down-circle-512.png" width="60" />
    </a>
</div>
<br />
<br />

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

<section id="fleet">
    <div class="fleet-section">
        <h2>Our Fleet</h2>

        <!-- Filter Buttons -->
        <div class="fleet-filters">
            <button class="filter-btn active">ALL</button>
            <button class="filter-btn">SEDAN</button>
            <button class="filter-btn">LUXURY</button>
            <button class="filter-btn">LIMOUSINE</button>
            <button class="filter-btn">SUV</button>
        </div>

        <!-- Fleet Carousel -->
        <div class="fleet-carousel-wrapper">
            <div class="fleet-carousel">
                <!-- Cadillac Escalade -->
                <div class="fleet-card" data-category="SUV">
                    <div class="fleet-card-text">
                        <p>Cadillac Escalade</p>
                        <p>$60/hour</p>
                    </div>
                    <div class="fleet-card-image">
                        <img src="https://shop.vipautoaccessories.com/cdn/shop/products/Profile_a3cdee2d-dcae-45a1-9ac0-67df4e3c3965.jpg?v=1676323971" alt="Cadillac Escalade">
                    </div>
                    <div class="fleet-book">
<!--                        <span class="book-now-text">Book Now</span>-->
                        <button class="book-btn" ><span><img src="assets/images/top-right.png" width="13"></span></button>
                    </div>
                </div>

                <!-- Mercedes Benz S-Class -->
                <div class="fleet-card" data-category="Sedan">
                    <div class="fleet-card-text">
                        <p>BMW 7 Series</p>
                        <p>$70/hour</p>
                    </div>
                    <div class="fleet-card-image">
                        <img src="https://autoimage.capitalone.com/stock-media/evox/2024-BMW-7_Series-740i_xDrive-475-53289_cc2400_032_475.png?width=640&height=480" alt="BMW 7 Series">
                    </div>
                    <div class="fleet-book">
<!--                        <span class="book-now-text">Book Now</span>-->
                        <button class="book-btn" ><span><img src="assets/images/top-right.png" width="13"></span></button>
                    </div>
                </div>
            </div>

            <!--        &lt;!&ndash; Navigation Button (Right Arrow) &ndash;&gt;-->
            <!--        <button class="nav-btn right">&rarr;</button>-->
        </div>
    </div>
</section>

<br />
<br />
<div style="padding-left: 5rem;">
    <a href="#reviews">
        <img src="https://cdn4.iconfinder.com/data/icons/thin-circle-ui/100/arrow-down-circle-512.png" width="60" />
    </a>
</div>
<br />
<br />



<!--    <section id="gallery">-->
<!--        <div class="cs-container">-->
<!--            <span class="cs-topper">Rest assured we have the vehicle for all of your needs</span>-->
<!--            <h2 class="cs-title">Our Fleet</h2>-->
<!--            <div class="cs-image-group">-->
<!--                &lt;!&ndash; Row 1&ndash;&gt;-->
<!--                <div class="cs-row cs-row-1">-->
<!--                    &lt;!&ndash; To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/fleet/private-car.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/fleet/private-car.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/fleet/private-car.jpg" alt="new hallway" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/fleet/executive-suv.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/fleet/executive-suv.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/fleet/executive-suv.jpg" alt="new home construction" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture3">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/fleet/executive-sedan.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/fleet/executive-sedan.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/fleet/executive-sedan.jpg" alt="building a new wall" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; Row 2 &ndash;&gt;-->
<!--                <div class="cs-row cs-row-2">-->
<!--                    &lt;!&ndash; To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture3">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; Row 3 &ndash;&gt;-->
<!--&lt;!&ndash;                <div class="cs-row cs-row-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                    <picture class="cs-picture cs-picture3">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">&ndash;&gt;-->
<!--&lt;!&ndash;                    </picture>&ndash;&gt;-->

<!--                </div>-->
<!--            </div>-->
<!--            <a href="/pricing" class="cs-button-solid">View Our Fleet</a>-->
<!--        </div>-->
<!--    </section>-->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->



    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Not Just a Promise, Awesome Service
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}